:root {
    font-family: 'DM Sans', sans-serif;

    line-height: 1.5;
    font-weight: 400;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    color: #901c1c;
    text-decoration: inherit;
}

a:hover {
    color: #d3573c;
}

body {
    margin: 0;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}

h1 {
    color: #901c1c;
    font-weight: 400;
    margin-right: 100px;
}

.logo {
    height: 50px;
    margin-left: 100px;
}

.error {
    color: #901c1c;
}

.muted {
    opacity: 0.6;
}

article a {
    text-decoration: none;
    text-align: center;
}

article p {
    color: black;
}

article hgroup * {
    margin: 0;
}

article h2 {
    color: #d3573c;
    font-weight: 400;
    font-size: 36px;
}

article h4 {
    color: #901c1c;
    font-weight: 400;
    font-size: 24px;
}

.visually-hidden {
    position: absolute;
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    padding: 0 !important;
    margin: -1px !important;
    overflow: hidden !important;
    clip: rect(0, 0, 0, 0) !important;
    white-space: nowrap !important;
    border: 0 !important;
}

.no-scroll {
    overflow: hidden;
}
