:root {
    font-family: 'DM Sans', sans-serif;

    line-height: 1.5;
    font-weight: 400;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    --primary-color: #901c1c;
    --secondary-color: #d3573c;
    --hover-color: #db8876;
}

a {
    color: var(--primary-color);
    text-decoration: inherit;
}

a:hover {
    color: var(--secondary-color);
}

body {
    margin: 0;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}

h1 {
    color: var(--primary-color);
    font-weight: 400;
    margin-right: 100px;
}

h3 {
    font-weight: 400;
    font-size: 48px;
}

hgroup > h3 {
    margin-bottom: 0px;
    line-height: 1.1;
}

label:not([class]) {
    font-weight: 500;
    font-size: 26px;
}

.logo {
    height: 50px;
    margin-left: 100px;
}

.error,
.loading {
    color: var(--primary-color);
}

.muted {
    opacity: 0.6;
}

article a {
    text-decoration: none;
    text-align: center;
}

article p {
    color: black;
}

article hgroup * {
    margin: 0;
}

article h2 {
    color: var(--secondary-color);
    font-weight: 400;
    font-size: 36px;
}

article h4 {
    color: var(--primary-color);
    font-weight: 400;
    font-size: 24px;
}

article .like {
    color: var(--primary-color);
    font-weight: 500;
    font-size: 24px;
}

article .liked {
    color: var(--secondary-color);
    font-weight: 500;
    font-size: 24px;
}

.visually-hidden {
    position: absolute;
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    padding: 0 !important;
    margin: -1px !important;
    overflow: hidden !important;
    clip: rect(0, 0, 0, 0) !important;
    white-space: nowrap !important;
    border: 0 !important;
}

.no-scroll {
    overflow: hidden;
}

button:not([class]) {
    all: unset;
    display: inline-block;
    cursor: pointer !important;
}

.close_button {
    color: white;
    font-size: 28px;
}

.flex-center {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

/* *:focus,
*:focus i {
    border: 1px blue solid !important;
    background-color: blue !important;
    color: blue !important;
} */
